<section>

<h1>
    View the Details

</h1>
<h2>{{myarray.length}}</h2>


<!-- <div class="card shadow ms-1" style="width: 30%"  *ngFor="let a of myarray">
  <img class="card-img-top" src="../../../../assets/images/cash-register-2662911_1280.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{a._id}}</h5>
    <p class="card-text">{{a.user}}</p>
    <p class="card-text">{{a.email}}</p>

    <p class="card-text">{{a.age}}</p>


    <p class="card-text">{{a.mobile}}</p>
    <p class="card-text">{{a.address}}</p>

    <p class="card-text">{{a.paddress}}</p>

    <p class="card-text">{{a.pass}}</p>
    <p class="card-text">{{a.repass}}</p>
    <button type="button" [ngClass]="'btn btn-primary btn-sm me-2'" [routerLink]="['dashboard/',a._id]">view</button>
    <button type="button" [ngClass]="'btn btn-warning btn-sm me-2'"[routerLink]="['edit',a._id]">Edit</button>
    <button type="button" [ngClass]="'btn btn-danger btn-sm'" (click)="mydeleterecord(a._id)">Del</button>    


  </div>
</div> -->



<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let a of myarray">
        <div class="card shadow-sm">
           <div>
            <img class="card-img-top" src="../../../../assets/images/cash-register-2662911_1280.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title"> Id:-  {{a._id}}</h5>
            <p class="card-text">Name:-  {{a.user}}</p>
            <p class="card-text">Email:-  {{a.email}}</p>
        
            <p class="card-text">Age:-  {{a.age}}</p>
        
        
            <p class="card-text">Mobile:- {{a.mobile}}</p>
            <p class="card-text">Address:- {{a.address}}</p>
        
            <p class="card-text">P.Address:-  {{a.paddress}}</p>
        
            <p class="card-text">Password:-  {{a.pass}}</p>
            <p class="card-text">Re...Password:-  {{a.repass}}</p>

            
                        <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" [ngClass]="'btn btn-primary btn-sm me-2'" [routerLink]="['view',a._id]">view</button>
    <button type="button" [ngClass]="'btn btn-warning btn-sm me-2'"[routerLink]="['edit',a._id]">Edit</button>
    <button type="button" [ngClass]="'btn btn-danger btn-sm'" (click)="mydeleterecord(a._id)">Del</button>    






              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>




</section>